{# thesis_grading/templates/user/layout.html #}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="100545826118-d773545e36qme94g9pdegrnvbbpdto25.apps.googleusercontent.com">

    <!-- Bootstrap, CSS only -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap-icons.css') }}">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- <script src="https://accounts.google.com/gsi/client" async defer></script> -->

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body class="container bg-uered">
    <nav data-login-url="{{ url_for('user.login') }}" 
    data-url-reset="{{ url_for('user.reset') }}"
    data-url-feed="{{ url_for('user.feed') }}"></nav>
    <section class="row">
        <div class="col-sm">
            {% block content %}{% endblock %}
        </div>
    </section>
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html> 