{# thesis_grading/templates/user/layout.html #}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap, CSS only -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap-icons.css') }}">

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body class="container bg-uered">
    <section class="row">
        <div class="col-sm">
            {% block content %}{% endblock %}
        </div>
    </section>
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html> 