{# thesis_grading/templates/user/login.html #}

<!-- 
    username maxlength 11
    both fields required

    responsive on all breakpoints

    ideas: 
    1 add option to continue/ sign in with google 
 -->

{% extends "user/layout.html" %}
{% block title %} Login {% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user/css/login.css') }}">
{% endblock %}
{% block content %}
    <div id="login-form" class="card mx-auto mt-5">
        <div class="card-body px-4">
            <div class="card-title text-center h3 mt-3 mb-5">Thesis Evaluation</div>

            <!-- TODO: form attr -->
            <form id="login" action="" method="">

                <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control mb-3" placeholder="Username" maxlength="11" tabindex="1" required>
                    <input type="password" id="password" name="password" class="form-control mb-3" placeholder="Password" tabindex="2" required>

                    <div class="spacer"></div>
                    <a href="{{ url_for('user.reset') }}" class="card-link text-uered" tabindex="4">Forgot password?</a>
                    <button type="submit" class="card-link button btn btn-primary float-end px-4 py-1 mb-4" tabindex="3" disabled>Login</button>

                    <div class="spacer"></div>
                    <div class="divider mb-4">
                        <strong class="divider-title ng-binding text-uppercase fw-bold px-4">or</strong>
                    </div>
                    <div class="d-grid">
                        <div class="g-signin2 mb-4 mx-auto" data-onsuccess="onSignIn"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% include 'user/includes/scripts.html' %}
{% endblock %}

 