{# thesis_grading/templates/user/password_reset.html #}

{% extends "user/layout.html" %}
{% block title %} Login {% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block content %}
    <div id="login-form" class="card mx-auto mt-5">
        <div class="card-body px-4">
            <div class="spacer"></div>
            <div class="card-title text-center h5 mt-3 mb-4">Trouble Logging In?</div>
            <div class="card-subtitle text-muted text-center mb-5">Enter your email or username and we'll send you a link to access your account</div>

            <!-- TODO: form attr -->
            <form id="password_reset" action="" method="">
                <div class="form-group">
                    <!-- TODO: maxlength -->
                    <input type="text" id="username" name="username" class="form-control mb-3" placeholder="Email or Username" maxlength="35" required>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary mb-4" disabled="True">Send Login Link</button>
                    </div>
                </div>
            </form>
        </div>
        <a href="{{ url_for('user.login') }}" class="text-center text-uered">
            <div class="card-footer">
                Back to Login
            </div>
        </a>
    </div>
{% endblock %}

 