[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
marshmallow = "*"
flask-wtf = "*"
flask-login = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-mail = "*"
mysql-connector-python = "*"
pytz = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.7.8"
