{% from "components/_dashboard.html" import section %}

{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
<div class="Dashboard col-sm">
  <div id="login-form" class="card container mx-auto mt-5">
     <div class="row row-cols-1 row-cols-md-2">
     	{{ section("Quantitative Group Rating", "list", course.criterias, "btn-assorted") }}
     	{{ section("Quantitative Individual Rating", "list", thesis.proponents, "btn-info") }}
     	{{ section("Qualitative Rating", "list", course.assessments, "btn-assorted btn-outline") }}
     	{{ section("Revision", "area") }}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
{% endblock %}


