#login-form {
  max-width:  24em;
  min-width:  17em;
  margin-top:  7em !important;
}

.spacer {
  height:  2em;
}

.card-title {
  text-transform: uppercase;
}

a:hover {
  text-decoration:  none;
}

.divider {
  border-top: 1px solid #d9dadc;
  display: block;
  line-height: 1px;
  margin: 15px 0;
  position: relative;
  text-align: center;
}

.divider .divider-title {
    background: #fff;
    letter-spacing: 1px;
}